/* élément root pour modification commune des couleurs */

:root {
    --noir: #252526;
    --bordeaux: #6A020C;
    --beige: #B35C45;
    --blanc: #ffffff;
    --gris: #BDBDBD;
}  

body, * {
    margin: 0;
    padding: 0;
}

/*****************************************************************/


header img{
    height: 70vh;
    width: 70vw;
    object-fit: cover;
}

#event {
    color: var(--beige);
    text-transform: uppercase;
    font-size: 3.5rem;
}

#trapeze {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--blanc);
}

#trapeze::before{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 70vh solid var(--noir);
    border-left: 19vw solid transparent;
}

.trapezeContenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    background-color: var(--noir);
    width: calc(38vw - 5rem);
    height: 70vh;
    padding : 0 5rem;
    font-size: 4rem;
}

/**********************************************************************************************************
                                             PARTENAIRES
**********************************************************************************************************/

#partenaires section img:not(.reseauxPart) {
    width: 384px;
    border-radius: 60px 0;
    margin-right: 2vw;
}

.lignePartenaire {
    display: flex;
    border-color: var(--gris);
    justify-content: center;
    margin: 5vh 0;
}

.informations {
    display: flex;
    padding: 2rem;
    border: 2px solid;
    border-color: var(--gris);
    border-radius: 20px;
    width: 35vw;
    font-size: x-large;
    justify-content: space-between;
}

.infosVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boutonPartenaires {
    text-decoration: none;
    color: var(--blanc);
    background-color: var(--bordeaux);
    padding: 0.8rem;
    border-radius: 10px;
    top: 3rem;
}

.boutonPartenaires:hover {
    color: var(--beige);
    background-color: var(--blanc);

    border: solid var(--bordeaux);
}

.reseauxPartenaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reseauxPart {
    width: 3.5rem;
}

#logo {
    width: 190px;
}


@media (max-width: 900px) {
    
    header img {
        height: 50vh;
    }

    #event {
        color: var(--beige);
        text-transform: uppercase;
        font-size: 2.3rem;
    }

    #trapeze {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--blanc);
    }

    #trapeze::before{
        border-bottom: 50vh solid var(--noir);
        border-left: 19vw solid transparent;
    }

    .trapezeContenu {
        width: calc(38vw - 3rem);
        height: 50vh;
        padding : 0 3rem;
        font-size: 2rem;
    }

}

@media (max-width: 780px) {

    header {
        display: flex;
        flex-direction: column;
    }

    header img {
        width: 100vw;
        height: 25vh;
    }
    
    #event {
        font-size: 2.5rem;
    }
    
    #trapeze {
        display: flex;
        position: relative;
    }

    #trapeze::before{
        border-bottom: none;
        border-left: none;
    }
    
    .trapezeContenu {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        height: 20vh;
        padding : 0 1rem;
        font-size: 2rem;
    }

    .lignePartenaire {
        flex-direction: column;
        align-items: center;
    }

    #partenaires section img:not(.reseauxPart) {
        width: 60vw;
        margin-bottom: 1.5rem;
    }

    .informations {
        height: 15vh;
        width: 55vw;
        margin-bottom: 3rem;
        font-size: large;
    }

    
    #logo {
        width: 130px;
    }

    .reseauxPart {
        width: 1.8rem;
    }    
    
}

/**********************************************************************************************************
                                             CONNEXION
**********************************************************************************************************/

#formulaires {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 5rem 0 6rem;
    z-index: 3;
    height: auto;
}

#formulaires p {
    font-size: xx-large;
    color: var(--blanc);
    margin-bottom: 2rem;
    font-size: 3rem;
}

#formulaires form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bordeaux);
    width: 25vw;
    height: auto;
    padding: 2rem;
    border-radius: 1px;
}

#formulaires input::placeholder {
    color: #4b4b4b;
    font-size: large;
}

#formulaires input:not(input[type=submit]) {
    width: 21vw;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: solid 1px var(--noir);
    border-radius: 10px;
}

.envoiForm {
    width: 19vw;
    text-decoration: none;
    border: none;
    color: var(--bordeaux);
    background-color: var(--blanc);
    padding: 0.8rem 0;
    margin: 1rem 1.8rem;
    font-size: large;
}

.envoiForm:hover {
    background-color: #d3d3d3;
}

#gridImg{
    position: absolute;
    z-index: 2;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: 75vh;
    padding: 1rem;
    align-items: center;

}

#gridImg span{
    display: flex;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
}

#gridImg #coImg1{
    width: 30vw;
    border-radius: 60px 0;
}

#gridImg #coImg2{
    height: 20vw;
    border-radius: 0 60px;
    object-fit: cover;
}

#gridImg #coImg3{
    width: 25vw;
}

@media (max-width: 780px) {

    #formulaires {
        flex-direction: column;
        align-items: center;
    }

    #formulaires p {
        font-size: 2rem;
    }

    #formulaires form {
        width: 55vw;
        margin-bottom: 3rem;
    }

    #formulaires input::placeholder {
        font-size: medium;
    }

    #formulaires input:not(input[type=submit]) {
        width: 54vw;
    }

    .envoiForm {
        width: 47vw;
    }

    #gridImg span{
        display: flex;
        flex-direction: column;
    }

    #gridImg #coImg1{
        width: 350px;
        border-radius: 60px 0;
    }

    #gridImg #coImg2{
        height: 250px;
        border-radius: 0 60px;
        object-fit: cover;
        margin-top: 8vh;
    }

    #gridImg #coImg3{
        width: 350px;
        margin-top: 22vh;
    }
}

/**********************************************************************************************************
                                             CONTACT
**********************************************************************************************************/

#bodyContact {
    background-color: var(--noir);
    background-image: url("../images/piano.jpg");
    background-size: auto 100vh;
}

#trapeze2 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--blanc);
    z-index: -1;
}

#trapeze2::before{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 100vh solid var(--noir);
    border-left: 22vw solid transparent;
}

.trapeze2Contenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--noir);
    width: calc(60vw - 5rem);
    height: 100vh;
    font-size: x-large;
}

#contact {
    color: var(--blanc);
    font-size: 2.7rem;
    margin-top: 2rem;
}

.trapeze2Contenu div, .trapeze2Contenu p {
    margin-top: 1rem;
}

.trapeze2Contenu div {
    text-align: left;
}

/******************************************/
/* FORMULAIRE CONTACT */
/******************************************/

#formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32vh 15vw 0;
    color: var(--blanc);
}

#formContact .ligne {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 2vw;
}

#formContact .ligne input {
    width: 60vw;
}

#formContact p {
    font-size: 2.7rem;
    margin-bottom: 3%;
}

#formContact input::placeholder, textarea::placeholder {
    color: #4b4b4b;
    font-size: large;
}

#formContact input:not([type=submit], [type="checkbox"]), textarea {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: solid 1px var(--noir);
    border-radius: 10px;
}

#formContact #objet, #formContact #message {
    width: calc(100% - 1.6rem);
}

#envoiContact {
    text-transform: uppercase;
    width: 19vw;
    text-decoration: none;
    border: none;
    color: var(--noir);
    background-color: var(--blanc);
    padding: 0.8rem 0;
    margin: 1rem 1.8rem;
    font-size: large;
}

#envoiContact:hover {
    background-color: #d3d3d3;
}

@media (max-width: 780px) {

    #formContact .ligne{
        flex-direction: column;
        gap: 0;
    }

    #envoiContact {
        width: 50vw;
    }
    
    #trapeze2 {
        display: flex;
        position: relative;
    }

    #trapeze2::before{
        border-bottom: none;
        border-left: none;
    }
    
    .trapeze2Contenu {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        height: 15rem;
        padding : 0 1rem;
        font-size: medium;
    }
    
    #formContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vh 15vw 0;
        color: var(--blanc);
    }
}

/**********************************************************************************************************
                                         INFOS PRATIQUES
**********************************************************************************************************/

#infosPratiques h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    margin: 2.5rem 0;
}

.infosP {
    position: relative;
    margin-bottom: 5rem;
}

.imgFondIF {
    position: absolute;
    width: 40vw;
    height: 52vh;
    object-fit: cover;
    border-radius: 0 60px;
    z-index: -1;
}

.cartesIF {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--blanc);
    height: fit-content;
    text-align: justify;
}

.boutonIF {
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

#fondIF1 {
    top: 6vh;
    right: 16vw;
}

#reglesMusiciens {
    background-color: var(--noir);
    padding: 2rem 2rem 10rem;
    margin: 8rem 20vw auto;
    width: 31.25vw;
}    

.cartesIF img {
    position: relative;
    left: 28vw;
    width: 18vw;
    top: -10vh;
}

#LieuDate {
    background-color: var(--bordeaux);
    padding: 2rem 2rem 10rem;
    margin: 8rem auto 3rem 20vw;
    width: 31.25vw;
}

#fondIF2 {
    top: 160vh;
    right: 16vw;
}

#btnIF1 {
    width: 15vw;
    position: relative;
    left: 60vw;

    color: var(--bordeaux);
    background-color: var(--blanc);
    border: solid 2px var(--bordeaux);
}

#btnIF1:hover {
    color: var(--blanc);
    background-color: var(--bordeaux);
}

#btnIF2 {
    margin: 1rem auto;
    color: var(--blanc);
    background-color: var(--bordeaux);
    border: solid 2px var(--bordeaux);
    border: solid 2px var(--blanc);
}

#btnIF2:hover {
    color: var(--bordeaux);
    background-color: var(--blanc);
}

/*
@media (max-width: 900px) {

    #infosPratiques {
        height: 52vh;
        width: 100vw;
    }

    .hautRect{
        display: none;
    }

    #blocBillet {
        position: relative;
        display: block;
        min-height: fit-content;
        max-height: 55vh;
    }

    #blocBillet p{
        text-align: justify;
        width: 100%;
    }

    .titreIF {
        font-size: 3rem;
    }

    .boutonIF {
        position: relative;
        left: 44vw;
        min-width: 30vw;
    }

    .basRect {
        width: 15rem;
    }

}*/

/**********************************************************************************************************
                                             FOOTER
**********************************************************************************************************/

footer{
    background-color: #252526;
    height: 271px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
#logo img{
    height: 250px;
    width: 250px;
}
.reseaux{
    width: 250px;
}
.reseaux img{
    height: 100px;
    width: 100px;
}
footer p{
    text-align: center;
    font-size: 32px;
}
.Contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Contact img{
    height: 85px;
    width: 85px;
}
.mail{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    text-align: center;
}
.mail img{
    height: 95px;
    width: 94px;
}

.mail a{
    text-decoration: none;
    color: #fff;
}