body{
    margin: 0;
    padding: 0;
}
footer{
    background-color: #252526;
    height: 271px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
#logo img{
    height: 250px;
    width: 250px;
}
.reseaux{
    width: 250px;
}
.reseaux img{
    height: 100px;
    width: 100px;
}
footer p{
    text-align: center;
    font-size: 32px;
}
.Contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Contact img{
    height: 85px;
    width: 85px;
}
.mail{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    text-align: center;
}
.mail img{
    height: 95px;
    width: 94px;
}
.mail a{
    text-decoration: none;
    color: #fff;
}